<!DOCTYPE html>
<html>
  <head>
    <title>Saas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav-dark"> 
      <header> 
        <h2><a href="/">SaaS Rails</a></h2>
      </header>
      <ul class="menu-items"> 
        <% if current_user %>
        <li class="f-col-1 flex-center user-name">
          <%= link_to "<i class='fa fa-users'></i> Add Members".html_safe,new_member_path,class: 'navbar-link btn btn-primary' %>
        </li>
          <li class="f-col-1 flex-center user-name">
          <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile' %>
          </li>
          <li class="f-col-1 flex-center logout"><%= link_to('Logout', destroy_user_session_path, class: 'btn btn-xs btn-danger', title: 'Logout', :method => :delete) %></li>
          <% else %>
          <li class="f-col-1 flex-center pull-right">
          <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>
          </li>
          <% end %>
      </ul>
      <ul class="mobile-nav flex-center"> 
        <div class="hamburger"></div> 
      </ul>
      <div class="flyout">
        <div class="bar"> 
          <header class="text-light f-col-4"> 
            <img src="img/logo-thick-light.svg" alt="Tuxedo Logo"> 
          </header> 
          <div class="close f-col-1"></div> 
        </div>
        <ul class="flyout-menu"> 
          <% if current_user %>
          <li>
            <%= link_to "<i class='fa fa-users'></i> Add Members".html_safe,new_member_path,class: 'navbar-link btn btn-primary' %>
          </li>
            <li class="user-name">
            <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile' %>
            </li>
            <li class="logout"><%= link_to('Logout', destroy_user_session_path, class: 'btn btn-xs btn-danger', title: 'Logout', :method => :delete) %></li>
            <% else %>
            <li class="pull-right">
            <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>
            </li>
            <% end %>
        </ul>
      </div>
    </nav>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <ul>
        <li>
          <%= value %>
        </li>
      </ul>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
